<div id="page">
<header class="container">
 <div id="menu" class="navbar navbar-default">
  <div class="navbar-header">
      <a class="navbar-brand">ngEvents</a>
  </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li class="nav"><a href="" >AllEvents</a></li>
        <li class="nav"><a href="">CreateEvent</a></li>
        
        <li class="dropdown">
          <a class="dropdown-toggle"data-toggle="dropdown" href="#">Events<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="">angularconnect</a></li>
          </ul>
        </li>
        <li><a href="">welcomjohn</a></li>
        <form id="searchForm" class="pull-right" >
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Sessions" >
        </div>
        <button class="btn btn-default">
          Search
        </button>
    </form></ul></div>
  
      </div> 
    </header>
</div>
  